<html>

<head>
<title>Item Page</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>

<body>

<div class="container">

<div class="pb-2 mt-4 mb-2 border-bottom">
	<button type="button" class="btn btn-danger">Back</button>
</div>

<div class="row">
	<div class="col-4">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://media.cntraveler.com/photos/57212200afc531496352e35e/master/w_2048,h_1536,c_limit/golden-gate-bridge-GettyImages-166267310.jpg" class="d-block w-100 img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://infrastructurereportcard.org/wp-content/uploads/2017/01/slidout-bridge-image.jpg" class="d-block w-100 img-fluid">
              </div>
              <div class="carousel-item">
                <img src="https://dpv85fgkqesen.cloudfront.net/sites/default/files/styles/large_horizontal/public/2018-06/Fairfax_Bridge_crop_0.jpg?itok=9XsU1JDZ" class="d-block w-100 img-fluid" class="d-block w-100 img-fluid">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div style="text-align:center">
            <a href="">Username</a>
        </div>
	</div>

	<div class="col-4">
        <h1>Bridge</h1>
		<div>Price: $ <%= item.price %></div>
		<div>Stock: <%= item.qty %></div>
        <div>How Many To Buy:</div>
        <div class="panel panel-default">
            <div class="panel-body">
                <select id="droptest">
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                </select>
            </div>
        </div>
        <div>Total $100.00</div>
        <button type="button" class="btn btn-danger">Add To Cart</button>
	</div>

    <div class="col-4">
        <h3>Description:</h3>
        <div>
            Very good product that is in great condition.
        </div>
        
        <h3>Condition:</h3>
        <div>
            Brand New
        </div>
    </div>
</div>


</div>

</body>

</html>
