<html>

<head>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    
</head>
<body>

<div class="container">
  
<div class="pb-2 mt-4 mb-2">
  <button type="button" class="btn btn-danger">Back</button>
</div>

    <div class="row h-100">
        <div class="col-sm-12 my-auto">
          
            <img src="https://jesussavesmbchurch.org/wp-content/themes/grace-church/images/generic-profile.jpg" class="mx-auto d-block">
            
            <div class="text-center"><p>John Doe</p></div>
            <div class="text-center"><p>john.doe01@utrgv.edu</p></div>
            <div class="text-center"><p>956 123 4567</p></div>
            <div class="text-center"><p> Please use the provided contact information to contact the seller.</p></div>
            
            
             
             
            
          
            
            
          
        </div>
    </div>
 
    
</div>

</div>

</body>
</html>