<html>

<head>
<title>Own Entries</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>

<body>

<div class="container">

    <div class="pb-2 mt-4 mb-2">
        <button type="button" class="btn btn-danger">Back</button>
    </div>

    <div class="row border-bottom">
        <div class="col-2">
            Image
        </div>
    
        <div class="col-2">
            Name
        </div>

        <div class="col-2">
            QTY
        </div>

        <div class="col-2">
            Price
        </div>

        <div class="col-2">
            Description
        </div>

        <div class="col-2">
            Condition
        </div>
    </div>

    <div class="row">
        <div class="col-2">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images.ctfassets.net/f1fikihmjtrp/46vOKllYdc1eEGZKXO5eS2/6387e4664ee704658d0b183444c12b52/20305-single-3ww-l.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="https://i.etsystatic.com/17933026/r/il/f3afa1/2010589648/il_1080xN.2010589648_4trc.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="https://t3.ftcdn.net/jpg/00/57/52/28/360_F_57522867_R7YPzXZlcUxv0O67pqfosVCZ6XcKx9qF.jpg" class="d-block w-100">
                  </div>
                </div>
            </div>

        </div>
    
        <div class="col-2">
            Pencil
        </div>

        <div class="col-2">
            3
        </div>

        <div class="col-2">
            $5.00
        </div>

        <div class="col-2">
            This item is great and was created in 1776.
        </div>

        <div class="col-2">
            Brand New
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://m.media-amazon.com/images/I/51aAu04384L.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.amara.com/static/uploads/images-2/products/huge/194863/mood-table-spoon-402898.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.goldenflamingo.us/media/uploads/product/french-silver-spoon-for-dinner_11030300_1760.jpg" class="d-block w-100">
                  </div>
                </div>
            </div>       
        </div>
    
        <div class="col-2">
            Spoon
        </div>

        <div class="col-2">
            5
        </div>

        <div class="col-2">
            $10.00
        </div>

        <div class="col-2">
            This item isn't great and breaks apart.
        </div>

        <div class="col-2">
            Almost Broken
        </div>
    </div>

    <div class="pb-2 mt-4 mb-2">
        <button type="button" class="btn btn-danger">Add New Entry</button>
    </div>

</div>

</body>

</html>
